<div class="viewport">
    
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="drivers1">
          <form [formGroup]="drivers1" (ngSubmit)="drivers11()">
            <ng-template matStepLabel  >Fill out your first driver</ng-template>
            <div fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="teams$ | async as team;">
                <h1>Informations the team color is {{team.team_color}} and compete in the number {{team.championshipid}} ligue.</h1>
                <p>Please consider those informations for a better experience.</p>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <mat-form-field appearance="outline">
                    <mat-label>Team Color</mat-label>
                    <input matInput type="string" placeholder="His team color" formControlName="team_color" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Team championship</mat-label>
                    <input matInput type="number" placeholder="His team championship" formControlName="championshipid" required>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>Driver Name</mat-label>
                  <input matInput type="text" placeholder="Last name, First name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Picture</mat-label>
                  <input matInput type="text" placeholder="link to a picture" formControlName="picture" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Profile Picture</mat-label>
                  <input matInput type="text" placeholder="link to a profile picture" formControlName="profile" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Number</mat-label>
                  <input matInput type="number" placeholder="His car number" formControlName="drivernb" required>
                </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>Driver Country</mat-label>
                  <input matInput type="text" placeholder="His country" formControlName="country" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver City</mat-label>
                  <input matInput type="text" placeholder="His city" formControlName="city" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Date Of Birth</mat-label>
                  <input matInput type="text" placeholder="His DOB" formControlName="dob" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Age</mat-label>
                  <input matInput type="number" placeholder="His age" formControlName="age" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Flag</mat-label>
                  <input matInput type="text" placeholder="A link to the country Flag" formControlName="flag" required>
                </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>First saison of F1</mat-label>
                  <input matInput type="number" placeholder="His number champion" formControlName="join_f1" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of GP</mat-label>
                  <input matInput type="number" placeholder="His number gp" formControlName="gp" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of Points</mat-label>
                  <input matInput type="number" placeholder="His number points" formControlName="points" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of podiums</mat-label>
                  <input matInput type="number" placeholder="His number podiums" formControlName="podiums" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Championship Winner</mat-label>
                  <input matInput type="number" placeholder="His number champion" formControlName="champion" required>
                </mat-form-field>
              </div>
              <button mat-raised-button matStepperNext  [disabled]="!drivers1.valid" type="submit" color="primary" cdkFocusInitial><mat-icon>done</mat-icon>Save and Next</button>
            </div>                   
          </form>
        </mat-step>
        <mat-step [stepControl]="drivers2" >
          <form [formGroup]="drivers2" (ngSubmit)="drivers22()">
            <ng-template matStepLabel>Fill out your second driver</ng-template>
            <div fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="teams$ | async as team;">
                <h1>Informations the team color is {{team.team_color}} and compete in the number {{team.championshipid}} ligue.</h1>
                <p>Please consider those informations for a better experience.</p>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <mat-form-field appearance="outline">
                    <mat-label>Team Color</mat-label>
                    <input matInput type="string" placeholder="His team color" formControlName="team_color" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Team championship</mat-label>
                    <input matInput type="number" placeholder="His team championship" formControlName="championshipid" required>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>Driver Name</mat-label>
                  <input matInput type="text" placeholder="Last name, First name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Picture</mat-label>
                  <input matInput type="text" placeholder="link to a picture" formControlName="picture" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Profile Picture</mat-label>
                  <input matInput type="text" placeholder="link to a profile picture" formControlName="profile" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Number</mat-label>
                  <input matInput type="number" placeholder="His car number" formControlName="drivernb" required>
                </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>Driver Country</mat-label>
                  <input matInput type="text" placeholder="His country" formControlName="country" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver City</mat-label>
                  <input matInput type="text" placeholder="His city" formControlName="city" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Date Of Birth</mat-label>
                  <input matInput type="text" placeholder="His DOB" formControlName="dob" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Age</mat-label>
                  <input matInput type="number" placeholder="His age" formControlName="age" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Driver Flag</mat-label>
                  <input matInput type="text" placeholder="A link to the country Flag" formControlName="flag" required>
                </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline">
                  <mat-label>First saison of F1</mat-label>
                  <input matInput type="number" placeholder="His number champion" formControlName="join_f1" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of GP</mat-label>
                  <input matInput type="number" placeholder="His number gp" formControlName="gp" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of Points</mat-label>
                  <input matInput type="number" placeholder="His number points" formControlName="points" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Number of podiums</mat-label>
                  <input matInput type="number" placeholder="His number podiums" formControlName="podiums" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Championship Winner</mat-label>
                  <input matInput type="number" placeholder="His number champion" formControlName="champion" required>
                </mat-form-field>
              </div>
              <button mat-raised-button [disabled]="!drivers2.valid" matStepperNext type="submit" color="primary" cdkFocusInitial><mat-icon>done</mat-icon>Save and Next</button>
            </div>                   
          </form>
      </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div fxLayout="column" fxLayoutAlign="center center">
            <p>Both of the driver has been created. You can edit them to insert the rest of the informations.</p>
            <button routerLink=".." mat-raised-button color="primary" >See the teams détails</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>  