<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="championshipsForm">
    <form [formGroup]="championshipsForm" (ngSubmit)="ChampionshipFormSend()">
      <ng-template matStepLabel >Renseigné votre league</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>years</mat-label>
        <input matInput type="number" placeholder="Last name, First name" formControlName="years" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>logo</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="logo" required>
      </mat-form-field>
      <div>
        <button mat-button type="submit" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Retour a la </button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
